@use "../variables" as *;

.form {
  max-width: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: $gray-7;
  border: 1px solid $color-border;
  border-radius: 12px;
  padding: 7px 15px;

  .select {
    width: 130px;
  }

  .search {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 0 3px 15px;
    border-left: 1px solid $color-border;
    flex: 3;
    font-size: 1.5rem;

    .input {
      width: 100px;
      flex: 1;
    }

    .submit {
      font-size: 2rem;
    }
  }
}

@media (max-width: $md) {
  .form {
    display: none !important;
  }
}
