$gray-1: #151515;
$gray-2: #575757;
$gray-3: #a9a9a9;
$gray-4: #d1d1d1;
$gray-5: #ebebeb;
$gray-6: #f5f5f5;
$gray-7: #f1f1f1;

$green-1: #46760a;
$green-2: #92c064;
$green-3: #c8deb3;
$green-4: #f4f8ec;

$brown-1: #b28a48;
$brown-2: #ecd2a6;
$brown-3: #faedd8;
$brown-4: #fff9f0;

$red-1: #c7522d;
$red-2: #eb8d70;
$red-3: #f7c6b7;
$red-4: #fff1ed;

$blue-1: #19b2b8;
$blue-2: #7cd0d3;
$blue-3: #b9e6e8;
$blue-4: #ecf6f7;

$color-primary: $gray-1;
$color-secondary: #6a983c;
$color-brown: #d0a866;
$color-red: #e6704b;
$color-blue: #37d0d6;
$color-border: #d1d1d1;

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$max-width: 1200px;
